.mainContainer{
    width: 506px;
    margin-top: 181px;
    margin-left: 163px;

}
    
.mainContainer h1{
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
    color: #21243D;
}
.mainContainer p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #21243D;
    text-align:justify;
}

.mainContainer button{
    margin-top:38px;
    width: 208px;
    height: 47px;
    background-color: #ff6464;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.mainContainer button img{
    height: 37px;
    margin-right: 15px;
    margin-top: 10px;
    
}



@media(max-width: 425px){
    .mainContainer{
        margin-left: 40px;
        width: 220px;
        margin-top: 160px;
        
    }
    .mainContainer h1{
        font-size: 30px;
    }
    .mainContainer p{
        font-size: 25px;
    }
}
@media(min-width: 426px) and (max-width: 810px){
    .mainContainer{
        margin-left: 50px;
        width: 320px;
    }
}