.headerContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerContainer ul{
    display: flex;
    margin-right: 95px;
    margin-top: 26px;
    gap: 40px;
    
}

.headerContainer li{   
    list-style: none;
}
.headerContainer a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 425px){
    .headerContainer{
        display: flex;
        justify-content: space-evenly;
        margin-left: 50px;
    }
    .headerContainer a{
        font-size: 20px;
    }


}