.projetosContainer{
    margin-top: 36px;
    margin-left: 162px;
    color: #21243D;
    width: 68.5%;
    
}
.projetosContainer h2{
    margin-bottom: 40px;

}
.projetosConteudo{
    display: flex;    
    gap: 61px;
    border-bottom: 2px solid #E0E0E0;
    margin-top: 31px;
    
}
.projetosConteudo img{
    width:227px;
    height:180px;
    margin-bottom: 15px;
}


.projetosDescricao p{
    text-align:justify;
    margin-top: 16px;
}


@media(max-width: 425px){
    .projetosContainer{
        margin-left: 55px;
        
    }
    .projetosConteudo{
        display: flex;
        flex-direction: column;
        
               
    }
    .projetosConteudo img{
        width: 266px;
        margin-top: 10px;
    }
    .projetosDescricao{
        font-size: 25px;
        width: 266px;
        margin-bottom: 25px;
    }
}

@media(min-width: 426px) and (max-width: 810px){
    .projetosContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 55px;


    }
    .projetosConteudo{
        display: flex;
        flex-direction: column;
       
               
    }
    .projetosConteudo img{
        width: 350px;
    }
    .projetosDescricao{
        font-size: 18px;
        width: 350px;
        margin-bottom: 15px;
    }
}